@import url("https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

body {
  font-family: "Rubik Maze", cursive;
  color: rgb(61, 139, 87);
  background-color: rgba(218, 114, 114, 0.705);
}
input[type="text"] {
  font-family: "Rubik Moonrocks", cursive;
}
